@model IEnumerable<Ecommerce.Models.Products>

@{
    ViewData["Title"] = "Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalogue</h1>




<form method="get" asp-action="Search">
    <div class="form-group">
        <input type="text" name="searchTerm" value="" class="form-control" placeholder="Search by title or description">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="Index" class="btn btn-secondary">Show All</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCAD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceCAD)
            </td>
            <td>
                    @if (item.AvailableQuantity > 0)
                    {
                        <a asp-action="AddToCart" asp-route-productId="@item.GUID">AddToCart</a>
                    }
                    else
                    {
                        <span class="text-muted">AddToCart</span>
                    } 
            </td>
        </tr>
}
    </tbody>
</table>
